{% extends 'common/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body p-5">
                    <div class="text-center mb-4">
                        <h2 class="card-title mb-3">Delete Profile</h2>
                        <p class="text-muted">Are you sure you want to delete your profile? This action cannot be undone.</p>
                    </div>

                    <form method="POST">
                        {% csrf_token %}
                        
                        <div class="text-center mt-4">
                            <div class="btn-group-custom">
                                <button type="submit" class="btn btn-custom">Delete Profile</button>
                                <a href="{% url 'profile-details' pk=object.pk %}" class="btn btn-custom">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}