{% extends 'common/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body p-5">
                    <div class="text-center mb-4">
                        <h2 class="card-title">Edit Profile</h2>
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form }}
                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-custom">Save Changes</button>
                            <a href="{% url 'profile-details' pk=object.pk %}" class="btn btn-custom">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}