body {
    background-image: url("/static/images/background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #0c5460;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.7);
}
.navbar-brand img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    text-align: center;
    color: darkolivegreen;
    background-color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
}
.btn-custom {
    background-color: #576948;
    border-color: #004d00;
    color: white;
    padding: 10px;
}

.btn-custom:hover {
    background-color: #004d00;
    border-color: #003300;
}

.btn-group-custom {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .btn-group-custom {
        flex-direction: column;
    }

    .btn-custom {
        width: 100%;
    }
}

ul {
    list-style-type: none; /* Removes bullet points */
    padding: 0;            /* Removes padding */
    margin: 0;             /* Optional: Removes margin */
}
