.card {
    transition: transform 0.2s;
    border: none;
    margin-bottom: 1.5rem;
}

.card:hover {
    transform: translateY(-5px);
}

.card-header {
    background-color: #f8d7da;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-text i {
    width: 20px;
    color: #6c757d;
    margin-right: 8px;
}

.pagination .page-link {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 8px 12px;
    color: #333;
    border-radius: 5px;
    text-decoration: none;
}

.pagination .page-link:hover {
    background-color: darkolivegreen;
    color: white;
}

.pagination .active .page-link {
    background-color: darkolivegreen;
    color: white;
    border-color: white;
}

.dashboard-header {
    margin-bottom: 2rem;
    display: flex;
    color: darkolivegreen;
    background-color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 10px;
}

.dashboard-header h2 {
    margin-bottom: 0;
}

.event-card {
    height: 100%;
}

.event-card .card-body {
    padding: 1.25rem;
}

.event-card .card-footer {
    background-color: beige;
    border-top: none;
    padding: 1rem;
}

.event-description {
    color: #6c757d;
    margin-top: 1rem;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .event-card {
        margin-bottom: 1rem;
    }
}

.faded-image {
    opacity: 0.5; /* Reduce opacity to make the image lighter */
    filter: grayscale(100%); /* Optional: Adds a grayscale effect to indicate it's not available */
}