{% extends 'common/base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header text-white">
                    <h3 class="mb-0">Wish Details</h3>
                </div>
            
                <div class="card-body">
                    {% if gift.is_registered %}
                        <p class="text-success mt-3">
                            This gift has been registered by {{ gift.registered_by_name }}.
                        </p>
                    {% else %}
                        <form method="post">
                            {% csrf_token %}
                            {{ registration_form }}
                            <button type="submit" class="btn btn-custom mt-3">Register for this Wish</button>
                        </form>
                    {% endif %}
                    <hr>
                    <p><strong>Description:</strong> {{ gift.description }}</p>
                    {% if gift.price %}
                    <p><strong>Price in EUR:</strong> {{ gift.price }}</p>
                    {% endif %}
                    {% if gift.url %}
                    <p><strong>URL:</strong> <a href="{{ gift.url }}" target="_blank">{{ gift.url }}</a></p>
                    {% endif %}
                    {% if gift.image %}
                        <img src="{{ gift.image.url }}" alt="Gift Image" class="img-fluid mt-3">
                    {% endif %}
                    {% if user == object.user %}
                    <a href="{% url 'gift-edit' pk=gift.pk %}" class="btn btn-custom">Edit Wish</a>
                    <a href="{% url 'gift-delete' pk=gift.pk %}" class="btn btn-custom">Delete Wish</a>
                    {% endif %}
                    <a href="{% url 'wishnest-details' object.wishnest_id  %}" class="btn btn-custom">Return to Wishnest</a>
                    
                
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
