{% extends 'common/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">Edit Wishnest</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form }}
                        {{ form.errors }}
                            <div class="btn-group-custom">
                                <button type="submit" class="btn btn-custom">Update Wishnest</button>
                                <a href="{% url 'wishnest-details' object.pk %}" class="btn btn-custom">Cancel</a>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}