{% extends 'common/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header text-white">
                    <h3 class="mb-0">{{ wishnest.title }}</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="font-weight-bold">Created at</label>
                                <p>{{ object.created_at }}</p>
                            </div>
                        </div>
                    </div>
                    
                    <h5 class="mt-4">Wishes:</h5>
                    <div class="row">
                        {% for gift in object.gifts.all %}
                            <div class="col-md-6 mb-4"> 
                                <div class="card h-100 shadow-sm">
                                    <div class="card-body text-center wishes">
                                        {% if not gift.is_registered or user == object.user %}
                                            <a href="{% url 'gift-details' pk=gift.pk %}">
                                        {% endif %}
                                        {% if gift.image %}
                                            <img src="{{ gift.image.url }}" alt="Wish Image" class="img-thumbnail mb-3 {% if gift.is_registered %}faded-image{% endif %}" style="width: 130px;">
                                        {% else %}
                                            <img src="{% static 'images/wish.jpeg' %}" alt="Default Wish Picture" class="img-thumbnail mb-3 {% if gift.is_registered %}faded-image{% endif %}" style="width: 130px;">
                                        {% endif %}
                                        {% if not gift.is_registered or user == object.user %}
                                            </a>
                                        {% endif %}
                                        <p class="text-truncate mb-0" style="max-width: 150px;">{{ gift.name }}</p>
                                        {% if gift.is_registered %}
                                            <small class="text-success d-block">
                                                Registered by {{ gift.registered_by_email }}
                                            </small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <div class="col-12">
                                <p class="text-muted">No wishes added yet.</p>
                            </div>
                        {% endfor %}
                    </div>
                    <br>
                    <div class="btn-group-custom">
                            {% if user == object.user %}
                            <a href="{% url 'gift-add' wishnest_pk=object.pk %}" class="btn btn-custom">Add your Wish</a>
                            <a href="{% url 'wishnest-delete' object.pk %}" class="btn btn-custom">Delete Wishnest</a>
                            {% endif %}
                            <a href="{% url 'event-details' wishnest.event_id %}" class="btn btn-custom">Return to Event</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


