{% extends 'common/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header text-white">
                    <h3 class="mb-0">{{ wishnest.title }}</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="font-weight-bold">Created at</label>
                                <p>{{ object.created_at }}</p>
                            </div>
                        </div>
                    </div>
                    
                    <h5 class="mt-4">Wishes:</h5>
                    <ul class="list-group">
                        {% for gift in object.gifts.all %}
                            <li class="list-group-item">
                                {% if gift.price %}
                                <p><strong>Price in EUR:</strong> {{ gift.price }}</p>
                                {% endif %}
                                {% if gift.image %}
                                    <img src="{{ gift.image.url }}" alt="Gift Image" class="img-thumbnail" width="100">
                                {% endif %}
                                {% if gift.is_registered %}
                                    <p class="text-success mt-3">
                                        This gift has been registered by {{ gift.registered_by_name }}.
                                   </p>
                                {% endif %}
                                {% if not gift.is_registered or user == object.user %}
                                    <a href="{% url 'gift-details' pk=gift.pk %}" class="btn btn-custom">View Details</a>
                                {% endif %}
                            </li>
                        {% empty %}
                            <li class="list-group-item">No wishes added yet.</li>
                        {% endfor %}
                    </ul>
                    <div class="row mt-3">
                        <div class="col-12">
                            {% if user == object.user %}
                            <a href="{% url 'gift-add' wishnest_pk=object.pk %}" class="btn btn-custom">Add Your Wish</a>
                            <a href="{% url 'wishnest-delete' object.pk %}" class="btn btn-custom">Delete Wishnest</a>
                            {% endif %}
                            <a href="{% url 'event-details' wishnest.event_id %}" class="btn btn-custom">Return to Event</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


